/* Sub Header style*/


.container {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

#category ul li {
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
}

#category ul li:hover {
    color: #F94073;
    transition: .3s;
}

nav img {
    transition: .5s !important;
}

#banner .banner-info {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
}

#banner .banner-btn {
    position: absolute;
    left: 80px;
    bottom: 30px;
}

#banner .banner-btn button {
    border: 2px solid black;
    width: 50px;
    height: 38px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#offers .product-img {
    width: 200px;
    margin: 0 auto;

}

#offers .arrow-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#offers .arrow-btn button {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card .like-btn {
    transition: .4s;
}

.product-card:hover .like-btn {
    opacity: 1;

}