/* Sub Header style*/
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins:wght@400;500;700;800&display=swap');

body {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

#best-seller,
#new-products,
#category,
#offers {
    padding-top: 60px;
}

footer {
    margin-top: 80px;
}

ul li {
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 20px;
}

.title {
    font-family: 'Bubblegum Sans', sans-serif;
    font-size: 30px;
}

.sub-title {
    font-weight: 500;
}

#category ul li {
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;

}

#category ul li:hover {
    color: #F94073;
    transition: .3s;
}

nav img {
    transition: .5s !important;
}

#banner .banner-info {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
}

#banner .banner-btn {
    position: absolute;
    left: 80px;
    bottom: 30px;
}

#banner .banner-btn button {
    border: 2px solid black;
    width: 50px;
    height: 38px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#offers .product-img {
    max-width: 200px;
    margin: 0 auto;

}

#offers .arrow-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#offers .arrow-btn button {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-card .like-btn {
    transition: .4s;
}

.product-card svg {
    font-size: 18px;
    opacity: 1;
    color: #2D3054;

}

.product-card:hover .like-btn {
    opacity: 1;
    background: #2D3054;
}


.sub-img:hover {
    border: 1px solid #F94073;
}

#sign-in {
    height: calc(100vh - 183px);
}

@media screen and (max-width: 450px) {
    #best-seller .card {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}