/* Sub Header style*/


.container {
    width: 100%;
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

nav img {
    transition: .5s !important;
}

#banner .banner-info {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
}

#banner .button {
    position: absolute;
    left: 80px;
    bottom: 30px
}

#offers .product-img {
    width: 200px;
    margin: 0 auto;
}

#offers .arrow-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#offers .arrow-btn button {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}